.btn {
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 16px 45px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-warning {
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 16px 45px;
  border-radius: 50px;
  cursor: pointer;
  background-color: $warning;
  color: white;
}

.btn-1 {
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 16px 45px;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  color: $primary;
}

.btn-primary-outline {
  border: 1px solid $primary;
}
.btn-primary {
  background: $primary;
  color: white;
  border: none;
}
