.mainFooter {
  text-align: center;
  background-color: $warning;
  &__content {
    &--p {
      font-size: 26px;
      font-family: "Poppins", sans-serif;
      line-height: 35px;
      color: white;
      margin-bottom: 2rem;
    }
    // &--btn {
    //   border: none;
    //   padding: 15px 40px;
    //   background: $primary;
    //   border-radius: 50px;
    //   outline-style: none;
    //   font-weight: 500;
    //   color: white;
    // }
  }
}
