.singlePage {
  display: grid;
  grid-template-columns: 1fr 235px;
  &__col1 {
    &--user {
      &--date {
        margin-bottom: 5px;
        font-size: 15px;
        color: $text100;
        font-weight: bold;
      }
    }
    &--h2 {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 10px;
    }
    &--userBlog {
      &--blog {
        font-size: 15px;
      }
      &--imgWrapper {
        margin-bottom: 15px;
        width: 100%;
        &--img {
          width: 100%;
        }
      }
    }
  }
  &__col2 {
    &--search {
      padding: 23px 20px 23px 25px;
      border: 1px solid $border;

      &--input {
        &--button {
          border-top: 1px solid $border;
          border-right: 1px solid $border;
          border-bottom: 1px solid $border;
          border-left: none;
          padding: 5px;
        }

        &--text {
          border: 1px solid $border;
          padding: 5px;
          width: 100%;
        }
      }
    }

    &--recentPost {
      padding: 23px 20px 23px 25px;
      border: 1px solid $border;

      &--h2 {
        margin-bottom: 20px;
      }

      &--ul {
        list-style: none;
        &--li {
          border-bottom: 1px solid $border;
          &--user {
            padding: 5px;

            &--1 {
              &--imgwrapper {
                width: 210px;
                height: 60px;
                overflow: hidden;
                margin-right: 15px;
                margin-top: 5px;
              }
              &--img {
                width: 100%;

                object-fit: cover;
                height: 100%;
              }
            }
            &--2 {
              &--p {
                line-height: 17px;
                font-weight: bold;
                color: $text100;
              }
            }
          }
          &--date {
            margin: 5px 0px;

            &--date {
              color: $text200;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .singlePage {
    grid-template-columns: 1fr 210px;
  }
}

@media (max-width: 799px) {
  .singlePage {
    display: block;
    &__col2 {
      &--recentPost {
        &--ul {
          &--li {
            &--user {
              &--1 {
                &--imgwrapper {
                  height: 80px;
                  margin-right: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .singlePage {
    display: block;
    &__col2 {
      &--recentPost {
        &--ul {
          &--li {
            &--user {
              &--1 {
                &--imgwrapper {
                  height: 65px;
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
